<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/milligram@1.3.0/dist/milligram.css"></link>
</head>

<body>
	<div id="app">
		<form @submit.prevent="onSubmit" v-if="!submitted">
			<p class="errors" v-for="err in errors">
				{{err}}
			</p>

			<label>first and last name:</label>
			<input v-model="name" type="text" />

			<label>email:</label>
			<input v-model="email" type="email" />

			<label>make:</label>
			<select v-model="vehicle.make" >
				<option v-for="make in Object.keys(makesAndModels)">{{make}}</option>
			</select>

			<label>model:</label>
			<select v-model="vehicle.model" >
			  <option v-if="!vehicle.make" disabled>Please select make to see model options</option>
				<option v-for="model in makesAndModels[vehicle.make]">{{model}}</option>
			</select>
			
			<br />
			<button type="submit">Submit</button>
		</form>

		<div v-else>
			<h1>Submitted with great success!</h1>
			<h3>Your submission:</h3>
			<p>Full name: {{name}}</p>
			<p>Email: {{email}}</p>
			<p>Make: {{vehicle.make}}</p>
			<p>Model: {{vehicle.model}}</p>
		</div>
	</div>

	<script src="https://unpkg.com/vue"></script>
	<script>

		var makesAndModels = {
			'BMW': ['m3', 'z3', 'x5'],
			'Toyota': ['camry', 'ft-86', 'prius'],
			'Subaru': ['brz', 'outback', 'legacy']
		};

		var emailRegExp =  /(.+)@(.+){2,}\.(.+){2,}/;

		var app = new Vue({
			el: '#app',
			data() {
				return {
					submitted: false,
					errors: [],
					makesAndModels: makesAndModels,
					name: '',
					email: '',
					vehicle: {
						make: '',
						model: ''
					}
				};
			},
			methods: {
				onSubmit() {
					this.errors = [];

					if (this.name.split(' ').length < 2) {
						this.errors.push('first and last name required');
					}

					if (!emailRegExp.test(this.email)) {
						this.errors.push('valid email required');
					}

					if (!this.vehicle.make || !this.vehicle.model) {
						this.errors.push('make and model required');
					}

					if (!this.errors.length) {
						this.submitted = true;
					}
				}
			}
		});

	</script>
</body>

</html>